.titulo  {
    color: #FF3BFC;
    width: 355px;
    height: 50px;
    background-color: teal;
}

label {
    background-color: khaki;
    width: 355px;
    height: 50px;
}

input {
    background-color: aqua;
    width: 355px;
    height: 50px;
}

button {
    background-color: blueviolet;
    width: 355px;
    height: 50px;
}