@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    font-family: 'Itim', cursive;
}

#select-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo  {
    color: white
}

.subtitle {

}

.cards {
    display: flex;
    
}

.card-of-elementa {
    width: 100px;
    height: 100px;
    background: #FF3BFC;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid teal;
}

input {
    display: none;
}