@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@300&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #392467;
}

#select-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo  {
    color: white;
    font-size: 48px;
    font-family: 'Itim', cursive;
}

.subtitle {
    color: white;
    font-size: 33px;
}

.cards {
    display: flex;
    
}

.card-of-elementa {
    color: white;
    width: 180px;
    height: 100px;
    background: #A367B1;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid aqua;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-of-elementa img {
    width: 80px;
}

#button-pet {
    width: 100px;
    height: 50px;
    border: 2px solid aqua;
    border-radius: 20px;
    background-color: #5D3587;
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

input {
    display: none;
}

#select-attack {
    flex-direction: column;
    align-items: center;
}

.attacks {
    width: 100px;
    height: 50px;
    border: 2px solid aqua;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #5D3587;
    color: white;
    margin: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}